<p>
  insert-student works!
</p>
<div>
  <label>Código</label>
  <input type="number">
  <br>
  <label>Nombres y Apellidos</label>
  <input type="text">
  <br>
  <label>Cédula de Identidad</label>
  <input type="number">
  <br>
  <label>Fecha de Nacimiento</label>
  <input type="date">
  <br>
  <label>Sexo</label>
  <select>
    <option>A</option>
  </select>
  <br>
  <label>Nacionalidad</label>
  <input type="text">
  <br>
  <label>Carrera</label>
  <select>
    <option>A</option>
  </select>
  <br>
  <label>Campus</label>
  <input type="text">
  <br>
  <label>Colegio de Procedencia</label>
  <input type="text">
  <br>
  <label>Ciudad del Colegio</label>
  <input type="text">
  <br>
  <label>Teléfono</label>
  <input type="number">
  <br>
  <button class="button">Insertar</button>
</div>
