<div class="divi">
  <label>Código</label>
  <input type="number" placeholder="Ej.: 33333">
  <br>
  <label>Nombres y Apellidos</label>
  <input type="text" placeholder="Ej.: Bruno Ricardo Diaz Tapia">
  <br>
  <label>Cédula de Identidad</label>
  <input type="number" placeholder="Ej.: 6545658">
  <br>
  <label>Fecha de Nacimiento</label>
  <input type="date">
  <br>
  <label>Sexo</label>
  <select>
    <option>Masculino</option>
    <option>Femenino</option>
  </select>
  <br>
  <label>Nacionalidad</label>
  <input type="text" placeholder="Boliviana">
  <br>
  <label>Carrera</label>
  <select>
    <option>A</option>
  </select>
  <br>
  <label>Campus</label>
  <select>
    <option>La Paz</option>
    <option>Cochabamba</option>
  </select>
  <br>
  <label>Colegio de Procedencia</label>
  <input type="text" placeholder="Nombre del colegio">
  <br>
  <label>Ciudad del Colegio</label>
  <input type="text" placeholder="Ciudad del colegio">
  <br>
  <label>Teléfono</label>
  <input type="number">
  <br>
  <button class="button">Editar</button>
</div>
