<link rel="stylesheet" href="../assets/css/materialize.min.css">
<link rel="stylesheet" href="../assets/css/style.css">
<script src="../assets/js/materialize.min.js"></script>

<div *ngIf="!logged">
  <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();">
    <label>
      <font color='#0f0e0c'>
        <h5>Código: </h5>
      </font>
    </label>
    <input type="text" name="code" #code="ngModel" [(ngModel)]="codem" required pattern="[0-9]+">
    <span *ngIf="code.touched && !code.valid">
      El código debe ser solo numérico.
    </span>
    <br />
    <label>
      <font color='#0f0e0c'>
        <h5>Password: </h5>
      </font>
    </label>
    <input type="password" name="pass1" #pass1="ngModel" [(ngModel)]="password" required pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$">
    <span *ngIf="pass1.touched && !pass1.valid">
      La contraseña debe tener 8 caracteres mínimo, 1 mayúscula, 1 caracter especial (!@#$&*), 1 número y 1 minúscula.
    </span>
    <input class="btn-small waves-effect waves-light red" type="submit" value="Login" [disabled]="!formUser.form.valid" />
    <br />
  </form>
</div>