<script src="../../assets/js/materialize.min.js"></script>
<br>
<div class="divi">
  <div *ngIf="!_logger.isLoged()">
    <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();">
      <label>Código:</label>
      <input type="number" name="code" #code="ngModel" [(ngModel)]="codem" required pattern="[0-9]+">
      <span *ngIf="code.touched && !code.valid">El código debe ser solo numérico.<br></span>
      <br />
      <label>Password:</label>
      <input type="password" name="pass1" #pass1="ngModel" [(ngModel)]="passwordm" required>
      <br /><br />
      <div>
        <div class="control-group">
          <label class="container">Recuérdame
            <input type="checkbox" (click)="check()">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="control-group">
          <input class="button" type="submit" value="Login" [disabled]="!formUser.form.valid" />
        </div>
      </div>
      <br />
      <div *ngIf="err">
        <div class="alert info">
          <span class="closebtn" onclick="this.parentElement.style.display='none'; this.err=false">&times;</span>
          Información Incorrecta!
        </div>
      </div>
    </form>
  </div>
</div>
