<div *ngIf="_logger.isLoged()">
  <div>
    <div class="control-group" style="width:50%;">
      <label for="fname" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size: 150%">Código
      </label>
      <input type="number" name="stdcode" #stdcode="ngModel" [(ngModel)]="code_var" placeholder="Ej.: 20202">
    </div>
    <div class="control-group">
      <button name="click" (click)="getStudent()">Buscar</button>
    </div>
  </div>
  <div *ngIf="student">
    <span class="title">Nombre Completo: </span>
    <span class="content">{{student.name}}</span>
    <div>
      <div class="control-group title">
        Carrera:<br />
        Ingreso:<br />
        Colegio:<br />
        Nacionalidad:<br />
        CI:<br />
      </div>
      <div class="control-group">
        <div class="content">
          {{getCareer(student.career)}}<br />
        </div>
        <div class="content">
          {{student.entryDate ? (student.entryDate | date) : '-'}}<br />
        </div>
        <div class="content">
          {{student.personalInfo.school.name ? student.personalInfo.school.name : '-'}}<br />
        </div>
        <div class="content">
          {{student.personalInfo.nationality ? student.personalInfo.nationality : '-'}}<br />
        </div>
        <div class="content">
          {{student.personalInfo.ci ? student.personalInfo.ci : '-'}}<br />
        </div>
      </div>
      <div class="control-group title">
        Teléfonos:<br />
        Dirección:<br />
        Fecha de nacimiento:<br />
        Tutor:<br />
        Teléfono de tutor:<br />
      </div>
      <div class="control-group ">
        <div class="content">
          {{2}}<br />
        </div>
        <div class="content">
          {{student.personalInfo.address ? student.personalInfo.address : '-'}}<br />
        </div>
        <div class="content">
          {{student.personalInfo.birthDate ? (student.personalInfo.birthDate | date) : '-'}}<br />
        </div>
        <div class="content">
          {{student.tutor.name ? student.tutor.name : '-'}}<br />
        </div>
        <div class="content">
          {{student.tutor.phoneNumber !== 0 ? student.tutor.phoneNumber : '-'}}<br />
        </div>
      </div>
    </div>

    <div>
      <h3>Procesos:</h3>
      <ul>
        <li>
          <h4>Tipo de formulario:</h4>
          <h4>Fecha de ingreso:</h4>
          <h4>Estado:</h4>
          <button class="button">Visualizar</button>
        </li>
      </ul>
    </div>
  </div>
</div>