input[type="number"],
select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: darkblue;
  color: #f4b400;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background: transparent;
  padding: 20px;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 15px;
  height: 50%;
  margin: 10px;
}

.title {
  font-size: 250%;
}
.content {
  font-size: 200%;
  text-align: center;
}
