<div *ngIf="_logger.isLoged()">
  <h2>Búsqueda - Estudiante</h2>

  <div>
    <label for="fname">Código </label>
    <input type="number" name="stdcode" #stdcode="ngModel" [(ngModel)]="code_var" placeholder="Ej.: 20202">
    <button name="click" (click)="getStudent()">Buscar</button>
  </div>

  <div *ngIf="student">
    <div>
      <div>
        <div>
          <div class="control-group title">
            Nombre Completo:
          </div>
          <div class="control-group content">
            {{student.name.firstName}} {{student.name.secondName?student.name.secondName + ' ': '
            '}}{{student.name.firstSurname}} {{student.name.secondSurname}}
          </div>
        </div>
        <div>
          <div class="control-group title">
            Carrera:<br />
            Carnet de identidad:<br />
            Fecha de nacimiento:<br />
            Nacionalidad:<br />
            Telefono:<br />
            Direccion:<br />
          </div>
          <div class="control-group content">
            {{getCareer(student.career)}}<br />
          </div>
          <div class="control-group title">
            Colegio:<br />
            Ingreso:<br />
            Tipo de sangre:<br />
            Tutor:<br />
            Telefono de tutor:<br />
            Carnet de tutor:<br />
          </div>
          <div class="control-group content">
            yolo
          </div>
        </div>
      </div>
      <div>
        <h3>Procesos:</h3>
        <ul>
          <li>
            <h4>Tipo de formulario:</h4>
            <h4>Fecha de ingreso:</h4>
            <h4>Estado:</h4>
            <button class="button">Visualizar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
