<div class="row">
  <div class="column middle" style="background-color:#bbb;">
    <div class="header">
      <div class="floatleft">
        <a id="logo-container" [routerLink]="['']" class="brand-logo"><img src="../assets/res/logo.jpg" height="64"
            width="200"></a>
      </div>
    </div>
    <nav role="navigation">
      <ul>
        <li>
          <a *ngIf="!_logger.isLoged()" [routerLink]="['/profile']" [routerLinkActive]="['red']">Mi perfil</a>
        </li>
        <li>
          <a *ngIf="!_logger.isLoged()" [routerLink]="['/login']" [routerLinkActive]="['red']">Login</a>
        </li>
        <li>
          <a *ngIf="_logger.isLoged()" [routerLink]="['/logout']">Logout</a>
        </li>
        <li>
          <a *ngIf="!_logger.isLoged()" [routerLink]="['/search-form']" [routerLinkActive]="['red']">Formularios</a>
        </li>
      </ul>
    </nav>

    <router-outlet></router-outlet>
  </div>
  <div class="column side" style="background-color:#ccc;">Column</div>
</div>
