* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:50px;
}

/* Style the header */
.header {
  font-size: 35px;
  text-align: center;
  height: 15vh;
  background-color: white;
}

.footer {
  position: fixed;
  height: 10vh;
  background-color: darkblue;
  color: #f4b400;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 2vh;
}

.row {
  min-height: 90vh;
  
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%;
}

/* Left and right column */
.column.side {
  width: 25%;
  height: 100%;
  padding: 0;
  border-left: 1px solid black;
}

/* Middle column */
.column.middle {
  width: 75%;
<<<<<<< HEAD
  height: inherit;
  padding: 0;
  border: 0;
=======
  height: 69%;
  top: 150px;
  left: 0px;
>>>>>>> f45b46eaabf44c5a73afe4b421a34e875b2dd2ce
  background-image: url('../assets/res/background1.png');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

floatleft {
  float: left;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button {
  background-color: darkblue; /* Azuuuuul!!! */
  border: 1px blue;
  border-radius: 12px;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: cornflowerblue;
}

.btn-group .button {
  background-color: darkblue; /* Azuuuuul!!! */
  border: 1px blue;
  border-radius: 12px;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}
.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: cornflowerblue;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.divtarea {
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 75%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

input[type="text"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.navbar {
  overflow: hidden;
  background-color: darkblue;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #f4b400;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #f4b400;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #f4b400;
  color: darkblue;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f4b400;
  width: 73.7%;
  margin-left: 10px;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: darkblue;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: darkblue;
  color: #f4b400;
}

.subnav:hover .subnav-content {
  display: block;
}
