<meta name="viewport" content="width=device-width, initial-scale=1" xmlns="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="grid-container">
  <div class="header">
    <a id="logo-container" [routerLink]="['/home']" class="brand-logo"><img src="../assets/res/logo.png"></a>
  </div>
  <nav class="navbar" role="navigation">
    <a *ngIf="_logger.isLoged()" [routerLink]="['/profile']">Mi perfil</a>
    <a *ngIf="!_logger.isLoged()" [routerLink]="['/login']">Login</a>
    <div class="subnav">
      <button *ngIf="_logger.isLoged()" class="subnavbtn">Estudiante <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a [routerLink]="['/search-student']">Buscar Estudiante</a>
        <a [routerLink]="['/insert-student']">Añadir Estudiante</a>
      </div>
    </div>
    <div class="subnav">
      <button *ngIf="_logger.isLoged()" class="subnavbtn">Formularios <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a [routerLink]="['/search-form']">Buscar Formularios</a>
        <a [routerLink]="['/insert-form']">Añadir Formulario</a>
      </div>
    </div>
    <a *ngIf="_logger.isLoged()" [routerLink]="['/insert-registry']">Añadir Registro</a>
    <a *ngIf="_logger.isLoged()" [routerLink]="['/home']" (click)="reg();this._logger.logOut();">Logout</a>
  </nav>
  <div class="left">
    <router-outlet></router-outlet>
  </div>
  <div class="rightup" style="text-align: center;">
    <h2 *ngIf="_logger.isLoged()">
      Historial de Actividades
    </h2>
  </div>
  <div class="right">
    <div *ngIf="_logger.isLoged()">
      <app-registry></app-registry>
    </div>
    <div *ngIf="!_logger.isLoged()">
      <!--aqui no disponible-->
    </div>
  </div>
  <div class="footer">
    Sistema de gestión de registro y bienestar estudiantil<br />
    Práctica interna - 2019
  </div>
</div>

