.btn-group .button {
  background-color: darkblue; /* Azuuuuul!!! */
  border: 1px blue;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
}
.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: cornflowerblue;
}

.button {
  background-color: darkblue; /* Azuuuuul!!! */
  border: 1px blue;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: right;
}
