<div>
  <h2>Mis Alarmas</h2>
  <button class="button">Agregar nuevo</button>
  <ul>
    <li>
      <div class="btn-group">
        <button class="button">Hecho</button>
        <button class="button">Retrasar</button>
      </div>
    </li>
  </ul>
</div>

<div style="clear:both">
  <h2>Mis Tareas</h2>
  <button class="button">Agregar nuevo</button>
  <ul>
    <li>
      <div class="btn-group">
        <button class="button">Hecho</button>
        <button class="button">Alarma</button>
        <button class="button">Reasignar</button>
      </div>
    </li>
  </ul>
</div>

<div style="clear:both">
  <h2>Comentarios</h2>
  <ul>
    <li></li>
  </ul>
</div>