<div>
  <h2>Mis Alarmas</h2>
  <button>Agregar nuevo</button>
  </div>
  <ul>
    <li>
      <div class="btn-group">
        <button>Hecho</button>
        <button>Retrasar</button>
      </div>
    </li>
  </ul>
</div>

<br>

<div>
  <h2>Mis Tareas</h2>
  <button class="button">Agregar nuevo</button>
  <ul>
    <li>
      <div class="btn-group">
        <button>Hecho</button>
        <button>Alarma</button>
        <button>Reasignar</button>
      </div>
    </li>
  </ul>
</div>

<br>

<div>
  <h2>Comentarios</h2>
  <ul>
    <li></li>
  </ul>
</div>
