<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div *ngIf="_logger.isLoged()" class="mydiv">
  <h2>Búsqueda - Formulario</h2>
  <div>
    <label for="formtype">Tipo</label><br />
    <select id="formtype" name="formtype" [(ngModel)]="ftype">
      <option *ngFor="let t of this._stuffManager.getForms()" value="t.vakue">{{t.key}}</option>
    </select>
    <br>
    <label for="formstate">Estado</label><br />
    <select id="formstate" name="formstate" [(ngModel)]="fstate">
      <option value="">Cualquiera</option>
      <option value="false">Pendiente</option>
      <option value="true">Finalizado</option>
    </select>
    <br>
    <label for="formcareer">Carrera</label><br />
    <select id="formcareer" name="formcareer" [(ngModel)]="fcareer">
      <option *ngFor="let c of this._stuffManager.getCareers()" value="c.value">{{c.key}}</option>
    </select>
    <br>
    <label for="formdate">Fecha</label><br />
    <input id="formdate" type="date" [(ngModel)]="fdate">
    <br>
  </div>

  <div><button name="click" (click)="getForm()">Buscar</button></div>

  <div *ngIf="forms">
    <h2>Resultados de búsqueda:</h2>
    <table>
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Carrera</th>
          <th>Formulario</th>
          <th>Estado</th>
          <th>Respaldo</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tr *ngFor="let f of forms">
        <td>{{f.student_code}}</td>
        <td>{{getCareer(f.career)}}</td>
        <td>{{getType(f.category)}}</td>
        <td>{{f.status ? 'Finalizado' : 'Pendiente'}}</td>
        <td *ngIf="f.digital.have"><a [routerLink]="['/view-image/'+f._id]">Disponible</a></td>
        <td *ngIf="!f.digital.have">No disponible</td>
        <td><a [routerLink]="['/view-form/'+f._id]" style="text-decoration:none;"><i class="fas fa-search"></i></a></td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="!_logger.isLoged()">
  <h1>No tienes permisos para acceder a esta página.</h1>
</div>
