<h2>Búsqueda - Formulario</h2>

<label for="country">Country</label>
<select id="country" name="country">
  <option value="altasbajas">Altas y Bajas</option>
  <option value="cartaSolicitudPracEmpresarial">Carta de solicitud - Práctica empresarial</option>
  <option value="cambioCampus">Cambio de campus</option>
  <option value="cambioCarrera">Cambio de carrera</option>
  <a>Evaluación de prácticas empresariales</a>
  <a>Evaluación de prácticas empresariales de Arquitectura</a>
  <a>Examen diferido</a>
  <a>Examen de suficiencia</a>
  <a>Materia incompleta</a>
  <a>Modificación/Inclusión de calificaciones</a>
  <a>Solicitud de alumno oyente</a>
  <a>Solicitud de calificación pendiente</a>
  <a>Solicitud de convalidación de asignaturas por cambio de universidad</a>
  <a>Solicitud de homologación por cambio de plan de estudios</a>
  <a>Solicitud de prácticas en empresa</a>
</select>

<div class="dropdown">
  <button class="dropbtn">-Seleccionar-</button>
  <div class="dropdown-content">

  </div>
</div>
