<br>
<div class="mydiv">
  <h2><b>Bienvenido</b></h2>
  <p>
    La fecha de hoy es: {{mydate}} <br><br>
    Para una mejor experiencia y garantía del buen funcionamiento del sistema
    se debe tener en cuenta los requisitos, especificaciones y recomendaciones
    a continuación:
  </p>
  <ul>
    <li>Requerimientos de software: <a href="http://skynet.lp.upb.edu:1000/practica-interna/front-end/wikis/Requerimientos-del-sistema"> Wiki</a></li>
    <li>Especificaciones del sistema: <a></a></li>
  </ul>
</div>
