.mydiv {
  border-radius: 5px;
  border-style: groove;
  border-color: #0D47A1;
  padding: 20px;
  margin: auto auto;
  width: 50%;
  background-color: white;
  background-image: url("../../assets/res/icon.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 7%;
}
