<br>
<div class="mydiv">
  <h2><b>Bienvenido</b></h2>
  <p>
    La fecha de hoy es: {{n | date}} <br />
    Para una mejor experiencia y garantía del buen funcionamiento del sistema
    se debe tener en cuenta el uso de navegadores que soporten HTML5 y CSS.
  </p>
  <ul>
    <li>Google Chrome - versión 69 en adelante.</li>
    <li>Mozilla Firefox - versión 62 en adelante.</li>
    <li>Opera – cualquier versión.</li>
    <li>Microsoft Edge – versión 17 en adelante.</li>
    <li>Safari - versión 11.4 en adelante.</li>
  </ul>
</div>