<h2>Visualización de Formulario</h2>

<div>
  <table>
    <tr>
      <td><h4>Tipo:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Fecha de entrada:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Fecha de modificación:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Estudiante:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Carrera:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Estado:</h4></td>
      <td>Respuesta</td>
    </tr>
    <tr>
      <td><h4>Respaldo:</h4></td>
      <td>Respuesta</td>
    </tr>
  </table>
</div>
